html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.about {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__link {
    color: lightsalmon;
}

body {
    background-color: #0093E9;
    background-image: linear-gradient(48deg, #0093E9 0%, #80D0C7 100%);
    background-color: #727db1;
    background-image: linear-gradient(43deg, #727db1 0%, #C850C0 46%, #FFCC70 100%);
    background-color: #727db1;
    background-image: linear-gradient(43deg, #727db1 0%, #5085c8 46%, #FFCC70 100%);
}

.center {
    text-align: center;
}

.footer {
    margin: 1em 0.5em 0 0.5em;
    padding: 0.5em;
    background: #cccccc;
    color: #555555;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.footer__cprt {
    float: right;
}

h1 {
    color: blue;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
}

.main__header {
    text-align: center;
}

.main__h1 {
    color: chartreuse;
}

.main__h2 {
    color: blueviolet;
}

.navigation {
    margin: 0 0.5em 1em 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: #cccccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navigation__link {
    color: #555555;
    text-decoration: none;
    padding: 0.5em;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.navigation__link:hover {
    color: brown;
}

.notes {
    background: #f1f1f1;
}
.radio-paragraph{
    margin-bottom: 0;
}
section {
    padding: 0.5em;
    color: #ffffff;
}

.section__article {
    border: 1px solid #ddd;
    margin: 0.5em auto;
    border-radius: 3px;
}

.section__article--special {
    border-color: darkgreen;
}

.section__h1 {
    font-weight: 700;
}

.section__h2 {
    color: #1460AA;
    font-weight: 700;
}

.section__h3 {
    color: crimson;
    margin-left: 0.5em;
    font-weight: 700;
}

.section__h3--special {
    color: darkgreen;
    font-weight: 700;
}

.section__h3~p, .section__h3~img {
    margin-left: 0.5em;
}

.section__image {}

.section__paragraph {
    color: #c72800;
}

.section__paragraph--js {
    color: burlywood;
}

.section__paragraph--main {
    color: #3a3131;
}

.section__paragraph--special {
    color: lightgreen;
}

.tables {
    background: #fefefe;
}